html,body {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.games-list {
  display: flex;
  flex-direction: column;
  padding: 0 5vh;
}

.games-list__header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background: black;
}

.games-list__header__trophy {
  width: 5vw;
  text-align: center;
}

.games-list__header__trophy--platinum {
  filter: grayscale(.5) hue-rotate(170deg);
}

.games-list__game {
  display: flex;
  flex-direction: row;
  background: repeating-linear-gradient(#ffffff30 0%, #ffffff00 30%, #ffffff00 100%);
}

.games-list__game:focus {
  outline-color: transparent;
  outline-style: none;
  background: linear-gradient(0, #00ffffff, #00ffff00, #00ffff00, #00ffffff);
}

.games-list__game__image {
  height: 60px;
}

.games-list__game__title {
  padding: 10px;
  align-self: center;
  flex-grow: 1;
}

.games-list__game__title__progress {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.games-list__game__trophies {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.games-list__game__trophies span {
  width: 5vw;
  text-align: center;
}